@{
    ViewData["Title"] = "Catalog";
}

<h1>Our Amazing Catalog</h1>


<div id="catalog-container">

</div>



@section Styles{
    <link href="/css/catalog.css" rel="stylesheet">
}

@section Scripts {
    <script src="/js/catalog.js"></script>
}